{% extends "layouts/dashboard_base.html" %}
{% block dashboard_content %}
<div class="container mt-4">
    <h2>Delete Activity</h2>
    <p>Are you sure you want to delete this {{ activity.get_activity_type_display }} activity from {{ activity.date }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'activities:activity_detail' activity.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}